<main class="container-fluid">
    <div class="principal1">

        <div>
            <h1 class="titulos">Download IDE</h1>
            <a href="https://code.visualstudio.com/docs/setup/setup-overview" class="btn btn-primary">visual studio code </a>
            <a href="https://marketplace.visualstudio.com/vscode" class="btn btn-primary">+extenses</a>
          
        </div>
        <div>
            <h1 class="titulos">tutoriais</h1>
            <a href="https://developer.mozilla.org/pt-BR/docs/Web/HTML" class="btn btn-primary">O que é HTML? </a>
            <a href="https://docs.oracle.com/javase/tutorial/" class="btn btn-primary">Java Básico</a>
        </div>

    </div>
</main>
