<h1>Equipe</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card">
        <img
          alt="Profile picture of Eduardo Kamo wearing a black cap and glasses, looking to the side"
          height="150"
          src="https://storage.googleapis.com/a1aa/image/I19f76wfORo9uk83Ij97leOjfTeSx2Xfc0BX5wBFyWhpkJ95E.jpg"
          width="150"
        />
        <h5 class="card-title">EDUARDO KAMO</h5>
        <p class="card-text">
          Diretor Executivo (CEO)
          <br />
          Guiando a empresa para um futuro mais facil e incrivel!
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          alt="Profile picture of Lucas Vinicios with a beard, looking thoughtful"
          height="150"
          src="https://storage.googleapis.com/a1aa/image/SNh3cqlFzi6dKZVHGOev8SjAbASByzDfRrrsPZcTBdhUm0nTA.jpg"
          width="150"
        />
        <h5 class="card-title">LUCAS VINICIOS</h5>
        <p class="card-text">
          Analista de TI
          <br />
          Atuando dando suporte para o sistema
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          alt="Profile picture of Iago Yuri Ros with sunglasses, looking at the camera"
          height="150"
          src="https://storage.googleapis.com/a1aa/image/Ev0GZTmK3LZxDho3RHtDOgZssRB8i2wseWAj7JXhjO1KT6zJA.jpg"
          width="150"
        />
        <h5 class="card-title">IAGO YURI ROS</h5>
        <p class="card-text">
          Diretor de TI (CTO)
          <br />
          Atuando no desenvolvimento de novas telas de aplicacoes
        </p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card">
          <img
            alt="Profile picture of Iago Yuri Ros with sunglasses, looking at the camera"
            height="150"
            src="https://storage.googleapis.com/a1aa/image/Ev0GZTmK3LZxDho3RHtDOgZssRB8i2wseWAj7JXhjO1KT6zJA.jpg"
            width="150"
          />
          <h5 class="card-title">NELSON DE OLIVEIRA JUNIOR</h5>
          <p class="card-text">
            Coordenador executivo
            <br />
            Só fica olhando a galera trabalhar
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            alt="Profile picture of Iago Yuri Ros with sunglasses, looking at the camera"
            height="150"
            src="https://storage.googleapis.com/a1aa/image/Ev0GZTmK3LZxDho3RHtDOgZssRB8i2wseWAj7JXhjO1KT6zJA.jpg"
            width="150"
          />
          <h5 class="card-title">MATHEUS NERY DE CAMARGO</h5>
          <p class="card-text">
            Estagiário
            <br />
            Aprendendo os objetivos e valores da empresa, colaborando e desenvolvendo sua carreira.
          </p>
        </div>
      </div>
  </div>
</div>
