<div class="games">
<h2 class="games_titulo">Games</h2>

<div class="games_principal">
<div class="card">
    <img src="games1.png" class="card-img-lef" alt="...">
  
    <div class="card-body">
      <h5 class="card-title">Jogo do sete erros</h5>
      <p class="card-text">desafie sua percepção e o seu conhecimento</p>
      <a href="#" class="btn btn-primary">jogar</a>
    </div>
  </div>
  
 
  <div class='card'>
    <img src="games2.jpg" class="card-img-right" alt="...">
  
    <div class="card-body">
      <h5 class="card-title">PVP</h5>
      <p class="card-text">desafie outros programadores num duelo de deselvolvimento de codigos</p>
      <a href="#" class="btn btn-primary">jogar</a>
    </div>
  </div>
 </div>  
</div>