<body class="home-main">
    <div class="container">
        <div class="text-container">
            <h1>TORNE-SE UM</h1>
            <h1 class="highlight">GUERREIRO</h1>
            <h1>DA TECNOLOGIA</h1>
            <button class="btn btn-custom">COMEÇAR AGORA</button>
        </div>
        <div class="image-container">
            <img alt="Athena segurando um escudo e lança" height="600" src="home-menu.svg" width="600"/>
        </div>
    </div>
    <div class="content">
        <div class="image-container">
            <img alt="Fatec Votorantim building with a ramp and palm trees in front" height="400" src="sobre_nos.png"
                width="600" />
        </div>
        <div class="text-container">
            <div class="title">SOBRE NÓS</div>
            <p>
                A startup PALLAS é um projeto feito na faculdade de tecnologia (FATEC) de Votorantim-SP, o site
                Athena.dev visa ajudar aqueles que desejam aprender ou aplicar seus conhecimentos referente a front-end,
                basicamente fornecendo protótipos de páginas para que o usuário programe e receba uma pontuação e
                avaliação de acordo com o código feito.
            </p>
            <p>
                Ao introduzir formas criativas e divertidas de desafiar nossos usuários para que possam evoluir em seu
                desempenho e conhecimento, esperamos trazer cada vez mais pessoas para esta área tecnológica,
                disseminando os conhecimentos numa comunidade interativa e com o objetivo de crescer em coletivo.
            </p>
        </div>
    </div>
</body>
