@import 'bootstrap/dist/css/bootstrap.min.css';


body {
    background-color: var(--cor-de-fundo);
    font-family: 'Roboto', serif;
    color:white ;
}

:root {
    --cor-de-fundo: #010626;
    --cor-primaria: ##7C05F2;
    --cor-secundaria: #021859;
}
